@CHARSET "UTF-8";
@CHARSET "UTF-8";

*,
*:after,
*:before {
	box-sizing: border-box;
}

.default-style {
	background: #333333;
	color: #DB9B3A;
}

.orange-white-style {
	background: #D95C1F;
	color: #FFFFFF;
}

#page-title-cont {
	padding: 5px;
	text-align: center;
	font-size: 2em;
	overflow: hidden;
	margin-bottom: 5px;
}

nav {
	overflow: hidden;
	margin-bottom: 5px;
}

nav div.nav-style {
	float:left;
	width: 20%;
	text-align: center;
	display: block;
	padding: 5px 0px;
	border-left: 5px solid white;
	border-right: 5px solid white;
	-moz-box-sizing: border-box;
	cursor: pointer;
}

nav div.nav-style:hover {
	background: black;
	color: white;
}

nav div.nav-style:active {
	background: white;
	color: black;
}

#cont3 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#89ffa2; /* column 3 background colour */
	margin-bottom: 5px;
}

#cont2 {
    background: none repeat scroll 0 0 #ffa7a7;
    clear: left;
    float: left;
    position: relative;
    right: 20%;
    width: 100%;
}

#cont1 {
    background: none repeat scroll 0 0 #fff689;
    float: left;
    position: relative;
    right: 60%;
    width: 100%;
}

#col1 {
    float: left;
    left: 80%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 20%;
}

#col2 {
    float: left;
    left: 80%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 60%;
}

#col3 {
    float: left;
    left: 80%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 20%;
}

fieldset form input {
    width: 200px;
}

/*
SUBMIT BUTTONS
*/

.item-input {
	display: block;
	padding: 5px;
	border: none;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 30%;
	height: 100px;
	float: left;
}

.input-button {
	display: block;
	width: 100%;
	padding: 5px;
	border: none;
	margin-left: 5px;
	margin-bottom: 5px; 
}

.input-button-inline {
	width: 100%;
	padding: 5px;
	border: none;
	margin-left: 5px;
	margin-bottom: 5px; 
}

.delete {
	background: red;
}

.category-input:hover {
	color: white;
	background: black;
}

.category-input:active {
	color: black;
	background: white;
}

/*
CATEGORY LIST
*/

.category-input {
	display: block;
	width: 100%;
	padding: 5px;
	border: none;
	margin-left: 5px;
	margin-bottom: 5px; 
}

.category-input:hover {
	color: white;
	background: black;
}

.category-input:active {
	color: black;
	background: white;
}

.selected-category {
	background: #3AB3DB;
	color: #155CC6;
}
/*
	footer
*/

#footer {
	border: 1px solid gray;
	overflow: hidden;
}

#footer #left-footer {
	float: left;
	padding: 5px 0px;
	padding-left: 10px;
}

#footer #right-footer {
	float: right;
	padding: 5px 0px;
	padding-right: 10px;
}