@CHARSET "UTF-8";

.default-style {
	background: #333333;
	color: #DB9B3A;
}

.orange-white-style {
	background: #D95C1F;
	color: #FFFFFF;
}

#page-title-cont {
	padding: 5px;
	text-align: center;
	font-size: 2em;
	overflow: hidden;
	margin-bottom: 5px;
}

nav {
	overflow: hidden;
	margin-bottom: 5px;
}

nav div.nav-style {
	float:left;
	width: 20%;
	text-align: center;
	display: block;
	padding: 5px 0px;
	border-left: 5px solid white;
	border-right: 5px solid white;
	-moz-box-sizing: border-box;
	cursor: pointer;
}

nav div.nav-style:hover {
	background: black;
	color: white;
}

nav div.nav-style:active {
	background: white;
	color: black;
}

div#content {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 5px;
}

section#test {
	margin-right: 35px;
}

section#categories {
	width: 20%;
	float: left;
}

#categories div {
	/*overflow: hidden;*/
	padding: 5px;
}

#page {
	/*overflow: hidden;*/
	width: 65%;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	position: relative;
}

#sidebar {
	width: 15%;
	height: 100%;
	right: 0;
	position: absolute;
	padding: 5px;
	margin-left: 10px;
	/*overflow: hidden;*/
}

/*
	footer
*/

#footer {
	border: 1px solid gray;
	overflow: hidden;
}

#footer #left-footer {
	float: left;
	padding: 5px 0px;
	padding-left: 10px;
}

#footer #right-footer {
	float: right;
	padding: 5px 0px;
	padding-right: 10px;
}