<phpunit xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	backupGlobals="true" cacheTokens="false" colors="true">
	<php>
		<var name="DB_DSN" value="mysql:dbname=random_shop;host=localhost" />
		<var name="DB_USER" value="justupgrade" />
		<var name="DB_PASSWD" value="test" />
		<var name="DB_NAME" value="random_shop" />
		<var name="DB_HOST" value="localhost" />
	</php>
	<testsuites>
		<testsuite name="all">
			<directory>./tests</directory>
			<exclude></exclude>
		</testsuite>
		<testsuite name="item">
			<file>./tests/ItemTest.php</file>
		</testsuite>
		<testsuite name="picture">
			<file>./tests/PictureTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>