<phpunit xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	backupGlobals="true" cacheTokens="false" colors="true">
	<php>
		<var name="DB_DSN" value="mysql:dbname=random_shop;host=localhost" />
		<var name="DB_USER" value="justupgrade" />
		<var name="DB_PASSWD" value="test" />
		<var name="DB_NAME" value="random_shop" />
		<var name="DB_HOST" value="localhost" />
	</php>
	<testsuites>
		<testsuite name="all">
			<directory>./tests</directory>
			<exclude></exclude>
		</testsuite>
		<testsuite name="current">
			<file>./tests/CartTest.php</file>
		</testsuite>
			<testsuite name="admin_test">
			<file>./tests/AdminTest.php</file>
		</testsuite>
		
		<testsuite name="user_test">
			<file>./tests/UserTest.php</file>
		</testsuite>
		<testsuite name="item_test">
			<file>./tests/ItemTest.php</file>
		</testsuite>
		<testsuite name="order_test">
			<file>./tests/OrderTest.php</file>
		</testsuite>
		<testsuite name="category_test">
			<file>./tests/CategoryTest.php</file>
		</testsuite>
		<testsuite name="picture_test">
			<file>./tests/PictureTest.php</file>
		</testsuite>
		
	
	</testsuites>
</phpunit>